.character-comicsband {
    height: 4rem;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #202020;
}
.character-comicsband h2 {
    color: #FFFFFF;
    font-size: 1.6rem;
}