.card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
    /* position: relative; */
}
.card-container {
    position: relative;
}
.card figure {
    height: 20rem;
    width: 18rem;
    text-align: center;
    position: relative;
}
.card img:not(.card-favorite) {
    width: 18rem;
    height: 20rem;
    object-fit: cover;
    transition: transform 1.5s;
    border-radius: 10px 10px 0 0;
    object-position: 50% 0;
}
.card img:hover {
    transform: scale(1.1);
}
.card-description {
    width: 18rem;
    height: 15rem;
    overflow: auto;
    border-top: 5px solid #ec1d24;
    text-align: center;
    padding-top: 1rem;
    border-left: 1px solid #202020;
    border-right: 1px solid #202020;
    border-bottom: 1px solid #202020;
    margin-bottom: 1rem;
}
.card-description p {
    margin-top: 1rem;
}
.card figure, .card-description {
    margin-left: 1rem;
    margin-right: 1rem;
}
.card a {
    text-decoration: none;
    color: #202020;
    /* position: relative; */
}
.card-favorite {
    top: 1rem;
    right: 1.5rem;
    height: 2rem;
    position: absolute;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(27%) sepia(95%) saturate(4095%) hue-rotate(345deg) brightness(91%) contrast(105%);
}
