.nav-container {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
}
.link {
    color: #FFFFFF;
    cursor: pointer;
    padding: 0 1.8rem;
    font-size: 1.6rem;
    transition: 1s;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}
.link:hover {
    color: #ec1d24;
}
.favoris-container {
    display: flex;
    position: relative;
}
.counter-favoris {
    position: absolute;
    background: #ec1d24;
    color: #FFFFFF;
    border-radius: 50%;
    font-size: 0.9rem;
    padding: 0.4rem;
    right: 0;
    top: -1rem;
}